<div class="container">
  <h1>Form Validation</h1>

  <form name="sign_up" action="/" method="post" class="form">
  <label for="email">Email</label>
  <input type="text" name="email" />
  <label for="password">Password</label>
  <input type="password" name="password" />

  <button type="submit">Sign Up</button>

  <ul id="errors"></ul>
  </form>


</div>
